
{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item" style="color: white;">Workflow Processes</li>
{% endblock %}

{% block content %}
  <table class="table table-light table-hover" style = "box-shadow: 2px 2px 2px #999; ">
    <thead class="thead-dark">
      <tr >
        <th>Process</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr onclick="document.location='{% url 'board_topics' board.pk %}'"   onmouseover="this.style.backgroundColor='#aaffff'" onmouseout="this.style.backgroundColor='#ffffff'">
          <td>
            <a style="color: black;" href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}






